@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */

:root {
    --color-backgraund-oscuro:  #F9FAFB;
    --color-backgraund-claro:  #FFFFFF;
    --color-backgraund-detalles:  #E0E7FF;
    --color-text-principal:  #4338CA;
    --color-text-secundario:  #111827;
    --color-text-terciario:  #5E5DEE;
    --color-text-cuarto:  #4B5563;
    --color-text-hover:  #BAC8FF;
    --color-btn:  #4F46E5;
    --color-hover-btn:  #4338CA;
    --color-shadow:  #C7D2FE;
    --color-footer:  #1F2937;
    --color-targeta-uno: #EEF2FF;
    --color-targeta-dos: #F0FDF4;
    --color-targeta-tres: #FEFCE8;
}


/* Cuerpo de la pagina */

body {
    background-color: var(--color-backgraund-oscuro);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.pagina {
    background-color: var(--color-backgraund-oscuro);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/* Logo de pagina */

.cabecera {
    background-color: var(--color-backgraund-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 25px;
    height: 25px;
    box-shadow: 0px 4px 8px var(--color-shadow);
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: 20px;
}

.enlace_logo {
    text-decoration: none;
    height: 30px;
    width: auto;
    height: auto;
    cursor: default;
}

.nombre {
    color: var(--color-text-principal);
    font-size: 35px;
    font-weight: 900;
    cursor: pointer;
}


/* Menu de navegacion */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
}

.enlace_nav {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-inline-start: 25px;
}

.caracteristicas {
    list-style-type: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color-backgraund-claro);
    color: var(--color-text-cuarto);
}

.funcionamiento {
    list-style-type: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color-backgraund-claro);
    color: var(--color-text-cuarto);
}

.contacto {
    list-style-type: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color-backgraund-claro);
    color: var(--color-text-cuarto);
}


/* Menu de opciones */

.opciones {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 50px;
}

.enlace_opciones {
    text-decoration: none;
    text-align: center;
    margin-inline-start: 25px;
}

.login {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--color-backgraund-claro);
    color: var(--color-btn);
}

.singup {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--color-btn);
    color: var(--color-backgraund-claro);
}

/* Contenido principal */

.contenido_principal {
    margin-top: 75px;
}







/* Animaciones de la pagina */

.enlace:hover .inicio {
    color: var(--color-text-hover);
    transition: 0.3s;
    cursor: pointer;
}

.enlace:hover .informacion {
    color: var(--color-text-hover);
    transition: 0.3s;
    cursor: pointer;
}

.enlace:hover .login {
    color: var(--color-text-hover);
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 4px 8px var(--color-shadow);
    background-color: var(--color-text-hover);
    cursor: pointer;
    transition: 0.3s;
}