@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */

:root {}


/* Cuerpo de la pagina */

body {
    border: solid 2px red;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/*Barra de navegacion */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    margin: 0;
    padding: 15px;
    height: 25px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    width: auto;
    height: 30px;
}

.enlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    text-decoration: none;
    cursor: pointer;
}

.icono {
    font-size: 30px;
    margin-right: 10px;
}

.titulo {
    font-size: 25px;
    font-weight: 800;
}

.opciones {
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: auto;
}

.rutas {
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 35px;
    width: auto;
}

.inicio {
    border: solid;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.informacion {
    border: solid;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.login {
    border: solid;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 5px;
}

.espacio {
    border: solid;
    width: 0, 5px;
    height: 15px;
}


/* Cabecera de la pagina */

.cabecera {
    border: solid;
    background-image: url('img/fondoLibros.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var();
    height: 180px;
    width: auto;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px
}

.subtitulo {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 35px;
}

.texto {
    font-size: 17px;
    font-weight: 400;
}


/* Contenido de seccion de pagina */

.contenido {
    border: solid;
    width: auto;
    height: auto;
}

.seccion {
    border: solid;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}

.introduccion {
    padding-right: 80px;
    height: auto;
    width: 50%;
}

.pregunta {
    font-size: 30px;
    font-weight: 700;
}

.respuesta {
    font-size: 17px;
    font-weight: 300;
}

.foto {
    border: solid;
    width: 50%;
    height: auto;
}

.btn {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}


/* footer de la pagina */

.footer {
    border: solid;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.texto_footer {
    margin: 20px;
    font-size: 15px;
    font-weight: 400;
}

.rutas_footer {
    margin-right: 40px;
    list-style: none;
    width: auto;
    height: auto;
}

.enlace_footer {
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}


/* Animaciones de la pagina */