<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="autor" content="">
    <title>Acardemy - Ingreso</title>
    <link rel="favicon" href="favicon/faviconBlack.jpg" type="icon/jpg" sizes="334x267">
    <link rel="stylesheet" href="loginUserAcardemy.css">
</head>

<body>
    <!--Pagina-->
    <div class="pagina">
        <!--Barra de navegacion-->
        <header class="nav">
            <div class="logo">
                <a class="enlace" href="indexAcardemy.html">
                    <ion-icon class="icono" name="school-sharp"></ion-icon>
                    <span class="titulo">Acardemy</span>
                </a>
            </div>
            <div class="opciones">
                <ul class="rutas">
                    <a class="enlace" href="indexAcardemy.html">
                        <li class="inicio">Inicio</li>
                    </a>
                    <div class="espacio"></div>
                    <a class="enlace" href="informacion">
                        <li class="informacion">Informacion</li>
                    </a>
                    <div class="espacio"></div>
                    <a class="enlace" href="registroUserAcardemy.html">
                        <li class="registro">Registrarse</li>
                    </a>
                </ul>
            </div>
        </header>
        <!--Contenido de la pagina-->
        <div class="contenido">
            <!--Formulario de registro-->
            <main class="cuadro">
                <h1 class="titulo_ingreso">Ingreso de usuario</h1>
                <form class="formulario" th:action="@{#}" th:object="${#}" method="post">
                    <div class="input">
                        <ion-icon class="icono_ingreso" name="mail-outline"></ion-icon>                        
                        <input class="ingreso" type="email" th:field="*{email}" placeholder="Ingrese su correo" required>
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
                    </div>
                    <div class="input">
                        <ion-icon class="icono_ingreso" name="key-outline"></ion-icon>                        
                        <input class="ingreso" type="password" th:field="*{password}" placeholder="Ingrese su contraseña" required>
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
                    </div>
                </form>
                <a class="recuperar" href="recuperarAcardemy.html">¿Olvido su contraseña?</a>
                <button class="btn">Ingresar</button>
            </main>
        </div>
        <!--Pie de pagina-->
        <footer class="footer">
            <p class="texto_footer">--------</p>
            <ul class="rutas_footer">
                <a class="enlace_footer" href="#">
                    <li class="">--------------</li>
                </a>
                <br>
                <a class="enlace_footer" href="#">
                    <li class="">----------------</li>
                </a>
                <br>
                <a class="enlace_footer" href="#">
                    <li class="">---------</li>
                </a>
            </ul>
        </footer>
    </div>

    <!--Script-->
    <script src="loginUserAcardemy.js">
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>