@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */

:root {
    --color-navBar:  #5952D4;
    --color-backgraund-uno:  #CBC8E3;
    --color-backgraund-dos:  #D9D7E8;
    --color-backgraund-tres:  #FAFAFA;
    --color-text-uno:  #000000;
    --color-text-dos:  #FFFFFF;
    --color-btn:  #6FAEF6;
    --color-footer:  #1D4273;
    --color-text-hover:  #BAC8FF;
    --color-shadow:  #1F1F1F;
}


/* Cuerpo de la pagina */

body {
    background-color: var(--color-backgraund-uno);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/*Barra de navegacion */

.nav {
    background-color: var(--color-navBar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 15px;
    height: 25px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 30px;
    margin-left: 30px;
}

.enlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.icono {
    color: var(--color-text-uno);
    font-size: 30px;
    margin-right: 10px;
}

.titulo {
    color: var(--color-text-uno);
    font-size: 25px;
    font-weight: 800;
}

.opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: auto;
    margin-right: 30px;
}

.rutas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 35px;
    width: auto;
}

.inicio {
    color: var(--color-text-uno);
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.informacion {
    color: var(--color-text-uno);
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.salir {
    color: var(--color-text-uno);
    font-size: 15px;
    margin-left: 15px;
    margin-right: 5px;
}

.espacio {
    border: solid 1px;
    width: 0, 5px;
    height: 15px;
}


/* Contenido de la pagina */

.contenido {
    background-color: var(--color-backgraund-uno);
    height: auto;
    width: auto;
}


/*  */




/* footer */

.footer {
    background-color: var(--color-footer);
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.texto_footer {
    margin: 20px;
    font-size: 15px;
    font-weight: 400;
}

.rutas_footer {
    margin-right: 40px;
    list-style: none;
    width: auto;
    height: auto;
}

.enlace_footer {
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}


/* Animaciones de la pagina */

.enlace:hover .inicio {
    color: var(--color-text-hover);
    transition: 0.3s;
    cursor: pointer;
}

.enlace:hover .informacion {
    color: var(--color-text-hover);
    transition: 0.3s;
    cursor: pointer;
}

.enlace:hover .salir {
    color: var(--color-text-hover);
    transition: 0.3s;
    cursor: pointer;
}